[submodule "practicing_continuous_delivery"]
	path = practicing_continuous_delivery
	url = https://github.com/jamesward/practicing_continuous_delivery.git
[submodule "introduction_to_the_play_framework"]
	path = introduction_to_the_play_framework
	url = https://github.com/jamesward/introduction_to_the_play_framework.git
[submodule "running_java_play_and_scala_apps_on_the_cloud"]
	path = running_java_play_and_scala_apps_on_the_cloud
	url = https://github.com/jamesward/running_java_play_and_scala_apps_on_the_cloud.git
[submodule "client_server_apps_with_html5_and_java"]
	path = client_server_apps_with_html5_and_java
	url = https://github.com/jamesward/client_server_apps_with_html5_and_java.git
[submodule "modern_web_apps_with_scala_and_play"]
	path = modern_web_apps_with_scala_and_play
	url = https://github.com/jamesward/modern_web_apps_with_scala_and_play.git
[submodule "architecting-event-driven-web-mobile-and-restful-apps"]
	path = architecting-event-driven-web-mobile-and-restful-apps
	url = https://github.com/jamesward/architecting-event-driven-web-mobile-and-restful-apps.git
[submodule "web-fundamentals"]
	path = web-fundamentals
	url = https://github.com/jamesward/web-fundamentals.git
[submodule "play-deep-end"]
	path = play-deep-end
	url = https://github.com/jamesward/play-deep-end.git
[submodule "introduction_to_the_play_framework-java"]
	path = introduction_to_the_play_framework-java
	url = https://github.com/jamesward/introduction_to_the_play_framework-java.git
[submodule "introduction_to_the_play_framework-scala"]
	path = introduction_to_the_play_framework-scala
	url = https://github.com/jamesward/introduction_to_the_play_framework-scala.git
[submodule "building-reactive-apps"]
	path = building-reactive-apps
	url = https://github.com/jamesward/building-reactive-apps.git
[submodule "optimizing-play-for-production"]
	path = optimizing-play-for-production
	url = https://github.com/jamesward/optimizing-play-for-production.git
[submodule "intro-to-scala"]
	path = intro-to-scala
	url = https://github.com/jamesward/intro-to-scala.git
[submodule "intro-to-sbt-web"]
	path = intro-to-sbt-web
	url = https://github.com/jamesward/intro-to-sbt-web.git
[submodule "reactive-all-the-way-down"]
	path = reactive-all-the-way-down
	url = https://github.com/jamesward/reactive-all-the-way-down.git
[submodule "building-deploying-reactive-service-pipelines"]
	path = building-deploying-reactive-service-pipelines
	url = https://github.com/jamesward/building-deploying-reactive-service-pipelines.git
[submodule "comparing-elasticity-reactive-frameworks"]
	path = comparing-elasticity-reactive-frameworks
	url = https://github.com/jamesward/comparing-elasticity-reactive-frameworks.git
[submodule "continuous_delivery_of_micro-services"]
	path = continuous_delivery_of_micro-services
	url = https://github.com/jamesward/continuous_delivery_of_micro-services.git
[submodule "intro-to-scala-for-java-devs"]
	path = intro-to-scala-for-java-devs
	url = https://github.com/jamesward/intro-to-scala-for-java-devs.git
[submodule "intro-to-heroku"]
	path = intro-to-heroku
	url = https://github.com/jamesward/intro-to-heroku.git
[submodule "webjars-bintray"]
	path = webjars-bintray
	url = https://github.com/jamesward/webjars-bintray.git
[submodule "managing_open_source_contributions_in_large_orgs"]
	path = managing_open_source_contributions_in_large_orgs
	url = https://github.com/jamesward/managing_open_source_contributions_in_large_orgs.git
[submodule "refactoring_monoliths_to_microservices_with_functional_programming"]
	path = refactoring_monoliths_to_microservices_with_functional_programming
	url = https://github.com/jamesward/refactoring_monoliths_to_microservices_with_functional_programming.git
[submodule "distributed_commit_logs_with_apache_kafka"]
	path = distributed_commit_logs_with_apache_kafka
	url = https://github.com/jamesward/distributed_commit_logs_with_apache_kafka.git
[submodule "building_modern_data_pipelines"]
	path = building_modern_data_pipelines
	url = https://github.com/jamesward/building_modern_data_pipelines.git
[submodule "introduction_to_apache_kafka"]
	path = introduction_to_apache_kafka
	url = https://github.com/jamesward/introduction_to_apache_kafka.git
