[submodule "practicing_continuous_delivery"]
	path = practicing_continuous_delivery
	url = https://github.com/jamesward/practicing_continuous_delivery.git
[submodule "introduction_to_the_play_framework"]
	path = introduction_to_the_play_framework
	url = https://github.com/jamesward/introduction_to_the_play_framework.git
[submodule "running_java_play_and_scala_apps_on_the_cloud"]
	path = running_java_play_and_scala_apps_on_the_cloud
	url = https://github.com/jamesward/running_java_play_and_scala_apps_on_the_cloud.git
[submodule "client_server_apps_with_html5_and_java"]
	path = client_server_apps_with_html5_and_java
	url = https://github.com/jamesward/client_server_apps_with_html5_and_java.git
[submodule "modern_web_apps_with_scala_and_play"]
	path = modern_web_apps_with_scala_and_play
	url = https://github.com/jamesward/modern_web_apps_with_scala_and_play.git
[submodule "architecting-event-driven-web-mobile-and-restful-apps"]
	path = architecting-event-driven-web-mobile-and-restful-apps
	url = https://github.com/jamesward/architecting-event-driven-web-mobile-and-restful-apps.git
[submodule "web-fundamentals"]
	path = web-fundamentals
	url = https://github.com/jamesward/web-fundamentals.git
